<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/8b48354303.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js"></script>
    <script>
        Turbolinks.start()
    </script>
    <style>
        html, body {
            height: 100%;
        }
    </style>
    <title>Document</title>
</head>
<body class="bg-slate-900 flex flex-col gap-4 w-9/10 md:w-4/5 md:max-w-[1200px] mx-auto h-full mt-64 gap-8">
<div style="font-family: Trebuchet MS, sans-serif" class="text-3xl text-blue-400 font-medium p-2 flex flex-row gap-8 items-center justify-center">
    @set('style', 'w-16 h-16')
    @include('logo/logo')
    <span>Alex Search Engine</span>
</div>
@include('searchbar/searchbar')
</body>
</html>